.comment-collapsible{
  border-right:0px!important;
  border-left:0px!important;
  box-shadow: 0 0px 0px rgba(0,0,0,.26)!important;
}

.stream-container{
    padding-bottom: 0!important;
    padding-top: 45px!important;
    padding-left: 6px!important;
    padding-right: 6px!important;
}

.artist-header{
  height:auto;
}

.li-auto-width{
  min-width:0px!important;
}

.artist-header_shrink{
  height:55px!important;

}

.artist-header-pic{
  height:60px!important;
  width:auto!important;
}
